* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    background-color: rgb(220, 231, 231);
    color: rgb(22, 22, 13);
    text-align: center;
    padding: 15px;
}

.container {
    margin: 0 auto;
    width: 80%;
}

#app {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: 20px;
}

@media (min-width: 678px) {
    #app {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    width: auto;
    height: auto;
    padding: 5px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
}

.card:hover {
    box-shadow: 0px, 2px, 2px, 0px rgba(0, 0, 0, 0.9);
    background-color: rgb(238, 100, 100);
    transform: scale(1.1);
}

.card spam {
    color: rgb(213, 24, 37);
    font-weight: bold;

}

.card img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: rgb(41, 138, 222);
}